@charset "UTF-8";

body {
    background-color: #74C8F2;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #253F4D;
}

#principal {
    text-align: center;
    background-color:#375F73;
    color: #74C8F2;
}

h2 {
    color: #375F73;
}

.basico {
    color: green;

}

.intermediario {
    color: rgb(163, 163, 48);

}

.avancado {
    color: rgb(128, 52, 52);
}